.App {
  text-align: center;
  background-color: #3b3d43;
  height: 100vh;
  color: #e2e2e2;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 99;
  background-color: #3b3d43;
}

.loading-div h1 {
  font-size: 5rem;
}