.component-metrics-dashboard-container {
  background-color: #585858;
  width: calc(100vw - 10px);
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #e0e0e0;
}

.component-metrics-dashboard-title {
  padding: 5vh 0;
  font-size: 3rem;
  margin: 2rem;
}

.component-metrics-dashboard-metrics-table {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #e0e0e0;
  line-height: 2rem;
}

.component-metrics-dashboard-metrics-table td {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
}
