.component-services-dashboard-container {
  background-color: #5d5d5a;
  width: calc(100vw - 10px);
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #e0e0e0;
}

.component-services-dashboard-title {
  padding: 2vh 0;
  font-size: 3rem;
  margin: 2rem;
}

.component-services-dashboard-table {
  font-family: monospace;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #e0e0e0;
  line-height: 2rem;
}

.component-services-dashboard-table td {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
}
